body {
  margin: 0px;
  padding: 0px;
}
.header-container-full {
  width: 100%;
  height: 100px;
  background-color: black;
}
.header-container {
  width: 75%;
  height: 100px;
  /* background-color: green; */
  margin: auto;
}
.header-container img {
  height: 100%;
  margin: auto;
}

.menu-full {
  width: 100%;
  background-color: red;
  position: sticky;
  top: 0;
  z-index: 10;
}
.menu-container {
  width: 75%;
  overflow: hidden;
  margin: auto;
  /* background-color: black; */
}
.menu-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-container ul li {
  float: left;
}
.menu-container ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-family: "Koulen", sans-serif;
  opacity: 0.8;
}
.menu-container ul li a:hover {
  opacity: 1;
}

.vdo-container-full-a {
  width: 70%;
  overflow: hidden;
  background-color: goldenrod;
  margin-left: 13%;
}

.Technology-container {
  width: 75%;
  margin: auto;
  margin-top: 20px;
  /* height: 500px; */
  overflow: hidden;
  background-color: blanchedalmond;
}

.Technology-komsan {
  width: 70%;
  overflow: hidden;
  background-color: greenyellow;
  float: left;
}
.Technology-komsan .Technology-title {
  width: 100%;
  height: 50px;
  background-color: red;
  border-bottom: 5px solid violet;
}
.Technology-komsan .title-technology-box {
  width: 100px;
  height: 100%;
  background-color: violet;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "koulen", sans-serif;
  font-weight: bold;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);
}
.Technology-title-box p {
  transform: translateX(-5px);
}

.Technology-top2 {
  width: 100%;
  height: 300px;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.Technology-top2 .top1 {
  width: 49%;
  height: 100%;
  background-color: burlywood;
}

.Technology-top2 .top1 .top1-img {
  width: 100%;
  height: 70%;
  overflow: hidden;
  cursor: pointer;
}
.Technology-top2 .top1 .top1-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}
.Technology-top2 .top1 .top1-img img:hover {
  transform: scale(1.1);
}
.Technology-top2 .top1 .top1-des {
  width: 100%;
  height: 30%;
}
.Technology-top2 .top1 .top1-des P {
  font-family: "seimreap", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin: 0px 20px;
}

.Technology-new {
  width: 100%;
  overflow: hidden;
  padding: 0px 20px;
  box-sizing: border-box;
  background-color: blueviolet;
}

.Technology-new .new-row {
  width: 100%;
  height: 200px;
  background-color: brown;
  margin-bottom: 10px;
}
.new-row .image {
  width: 40%;
  height: 100%;
  float: left;
  overflow: hidden;
}
.new-row .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  cursor: pointer;
}
.new-row .image img:hover {
  transform: scale(1.1);
}
.new-row .sub-title {
  width: 60%;
  height: 100%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}
.new-row .sub-title p {
  font-family: "seimreap", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin: 0px 20px;
}

.popurlar-container {
  width: 100%;
  height: 600px;
  background-color: brown;
}

.popurlar-container h1 {
  font-family: "kuolen", sans-serif;
  color: white;
  font-size: 30px;
  text-align: center;
}
.popurlar-container hr {
  background-color: red;
  height: 5px;
  width: 100px;
  margin: auto;
}

.sub-popurlar {
  width: 100%;
  height: 100px;
  background-color: chartreuse;
  margin-top: 10px;
  box-sizing: border-box;
}

.tech-sub-popurlar{
  width: 40%;
  height: 100%;
  background-color: blue;
}

.footer-full-new {
  width: 100%;
  height: 300px;
  background-color: black;
}
.footer-full-new .footer-logo {
  width: 70%;
  height: 100%;
  /* background-color: blue; */
  margin: auto;
}
.footer-logo .footer-new-logo {
  width: 30%;
  height: 100%;
  /* background-color: goldenrod; */
  float: left;
}
.footer-logo .footer-new-logo:nth-child(2) {
  width: 40%;
  /* background-color: gold; */
}
.footer-logo .footer-new-logo:nth-child(3) {
  width: 30%;
  /* background-color: rgb(189, 185, 165); */
}
.footer-logo .footer-new-logo:first-child {
  height: 70px;
  margin-top: 30px;
}
.footer-logo .footer-new-logo:first-child p,
small {
  font-family: "seimreap", sans-serif;
  color: white;
  opacity: 0.7;
  font-size: 18px;
  /* margin-top: 10px; */
}
.footer-logo .footer-new-logo:first-child small {
  font-size: 14px;
}
.footer-logo .footer-new-logo:nth-child(2) h3 {
  font-family: "koulen", sans-serif;
  color: white;
  opacity: 0.7;
  font-size: 18px;
  margin-top: 30px;
  margin-left: 10px;
}
.footer-logo .footer-new-logo:nth-child(2) p {
  font-family: "seimreap", sans-serif;
  color: white;
  opacity: 0.7;
  font-size: 18px;
  margin-top: 30px;
  margin-left: 10px;
}
.footer-logo .footer-new-logo:nth-child(2) img {
  height: 40px;
  margin-right: 5px;
}
.footer-logo .footer-new-logo:nth-child(3) h3 {
  font-family: "koulen", sans-serif;
  color: white;
  opacity: 0.7;
  font-size: 18px;
  margin-top: 30px;
  margin-left: 10px;
}
.footer-logo .footer-new-logo:nth-child(3) .fa-brands {
  height: 40px;
  margin-right: 5px;
  color: wheat;
  opacity: 0.7;
  font-size: 40px;
}
